<a href="https://colab.research.google.com/github/SSUMINIs/mulcam34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95_231229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리
- Dictionary : 영어 및 국어 사전
- 구성 : key : value, keyword(=key), 결과값(=value)
 + 문자열, 리스트, tuple : 데이터 조회 시, 인덱싱 또는 슬라이싱을 통해서 가져옴
 + 딕셔너리에서 값을 조회하는 방법은 key값을 통해서 값을 가져옴

In [ ]:
dict = {'name' : '홍길동','age' : 30}
f"나의 이름은 {dict['name']}이고, 나이는 {dict['age']} 입니다."

'나의 이름은 홍길동이고, 나이는 30 입니다.'

In [ ]:
country_capital = {
    "대한민국" : "서울",
    "프랑스":"파리",
    "미국":"워싱턴",
    "영국":"런던"}
country_capital
# 딕셔너리에서 value 값 조회는 key 값을 통해 조회가능
# key 값은 중복으로 만들수 없음

{'대한민국': '서울', '프랑스': '파리', '미국': '워싱턴', '영국': '런던'}

In [ ]:
data = {1:'버스', 3:'비행기'}
data[1] #여기서 숫자 1(key값)은, 리스트, 문자열, tuple 인덱스 번호와는 다른 숫자

'버스'

In [ ]:
data2 = {'list1':[1,2,3], 'list2' : [4,5,6],1:'테스트'}
data2['list1'][1]

2

## 딕셔너리 사용처
- 데이터 분석 : 엑셀 테이블
 + 1억개, 데이터 가공
- HTML, CSS, 인터넷 자료형 중, JSON 데이터 포맷
- JSON 데이터 포맷 -> 딕셔너리와 동일
 + API 데이터 크롤링시 기본 자료형 JSON을 딕셔너리로 변환하는 코드를 생성하고, 그 후 데이터 가공을 진행

In [ ]:
import pandas as pd
data = {
    'A' : [1,2,3],
    'B' : [4,5,6]
}

df = pd.DataFrame(data)
df # 데이터 가공 연습 -> 본 데이터 적용(실제 작업시)

   A  B
0  1  4
1  2  5
2  3  6

### 딕셔너리 다루기

In [ ]:
# 딕셔너리의 value 값 수정하는 방법
country_capital['대한민국'] = '부산'
country_capital
# 비워두기 country_capital['프랑스'] = None

{'대한민국': '부산', '프랑스': '파리', '미국': '워싱턴', '영국': '런던'}

In [ ]:
# del
del country_capital['영국']
country_capital

{'대한민국': '부산', '프랑스': '파리', '미국': '워싱턴'}

In [ ]:
# 딕셔너리 추가
country_capital['일본'] = '도쿄'
country_capital

{'대한민국': '부산', '프랑스': '파리', '미국': '워싱턴', '일본': '도쿄'}

### 딕셔너리 메서드

In [ ]:
print(type(country_capital)) # 딕셔너리 객체
# 딕셔너리가 보유한 클래스 메서드를 사용할 수 있음
# dict_data (객체명)
country_capital.keys()

<class 'dict'>

dict_keys(['대한민국', '프랑스', '미국', '일본'])

In [ ]:
# 데이터 형변환
list(country_capital.keys()) #수정, 삭제 가능

['대한민국', '프랑스', '미국', '일본']

In [ ]:
new_df = {
    '중국':'베이징',
    '필리핀':'마닐라',
    '호주':'캔버라'
    }
country_capital.update(new_df)
country_capital

{'대한민국': '부산',
 '프랑스': '파리',
 '미국': '워싱턴',
 '일본': '도쿄',
 '중국': '베이징',
 '필리핀': '마닐라',
 '호주': '캔버라'}

In [ ]:
country_capital.clear() # 빈 Dictionary 생성
country_capital

{}

# if 조건문
- 조건문을 문장으로 먼저 만드는 훌련을 하는 것이 중요함

In [ ]:
x = int(input("숫자를 입력하세요 "))
if x >=90:
  print("합격")
else:
  print("불합격")

숫자를 입력하세요 85
불합격

In [ ]:
x = int(input("성적을 입력하세요 "))
if x >= 90:
  print("A")
elif x >=80:
  print("B")
elif x >=70:
  print("C")
elif x >=60:
  print("D")
else:
  print("F")

성적을 입력하세요 77
C

In [ ]:
x = int(input("점수를 입력하세요 "))
if x >= 90:
  if x == 100:
    print("장학금 수여")
  else:
    print("합격")
else:
  print("불합격")

점수를 입력하세요 100
장학금 수여

# 반복문
- for-loop, while

In [ ]:
for i in range(10):
  print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

### for-loop특징
-반복 범위가 주어짐

In [ ]:
for i in range(3): # i : for-loop에서 사용한 변수, range : 0 ~ n-1번 반복
  print(f'{i}번째 Hello Python')

0번째 Hello Python
1번째 Hello Python
2번째 Hello Python

- 반복 범위 지정시, 시퀀스 자료형도 사용가능
 + 시퀀스 자료형 대표적인 것 : 리스트, 문자열

In [ ]:
nums = [1,2,3,4,5]
for num in nums: # 범위에 시퀀스 자료형, 리스트가 들어감
  print(num)

1
2
3
4
5

In [ ]:
text = "Hello"
for txt in text:
  print(txt)

H
e
l
l
o

In [ ]:
tuples = (1,2,3,4)
for num in tuples:
  print(num)

1
2
3
4

In [ ]:
for country in country_capital:
  #print(country) # key값만 출력
  print(f'{country}의 수도는 {country_capital[country]}이다.')

대한민국의 수도는 서울이다.
프랑스의 수도는 파리이다.
미국의 수도는 워싱턴이다.
영국의 수도는 런던이다.

In [ ]:
for country in country_capital.items():
  print(country)

('대한민국', '서울')
('프랑스', '파리')
('미국', '워싱턴')
('영국', '런던')

In [ ]:
# 중첩 포문
# 반복문 내 또 다른 반복문
x_list = ['x1','x2']
y_list = ['y1','y2']
#print('x1 y1')
#print('x1 y2')
#print('x2 y1')
#print('x2 y2')

for x in x_list:
  for y in y_list:
    print(x,y)

x1 y1
x1 y2
x2 y1
x2 y2

In [ ]:
#구구단
x_lst = [2,3,4,5,6,7,8,9]
y_lst = [1,2,3,4,5,6,7,8,9]
for x in x_lst: # =for x in range(2,10):
  for y in y_lst: # =for y in range(1,10):
    print(f'{x} * {y} = { x * y }')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
names = ['A','B','C']
ages = [10,20,30]
#리스트 합치기
for name, age in zip(names, ages):
  print(name,age)
  print(type(zip(names,ages)))

A 10
<class 'zip'>
B 20
<class 'zip'>
C 30
<class 'zip'>

In [ ]:
names = ['A','B','C']
ages = [10,20,30]

for a in zip(names, ages):
  print(a)
  print(type(a))

('A', 10)
<class 'tuple'>
('B', 20)
<class 'tuple'>
('C', 30)
<class 'tuple'>

In [ ]:
names = ['A','B','C']
for idx, name in enumerate(names):
  print(idx,name)
print(list(enumerate(names)))

0 A
1 B
2 C
[(0, 'A'), (1, 'B'), (2, 'C')]

## While 특징
- for-loop 특징 : 반복문의 범위를 지정해야 한다.
- While 특징 : 조건문이 False가 될 때까지 반복문을 수행한다.
 + 조건문이 True면 반복문은 무한 수행

In [ ]:
#초기값 지정
i = 1
n = 3

while i <= n : # 특정 조건문을 False가 되도록 코드를 작성하는 것이 포인트!
  print(f'현재 {i} 번')
  i += 1

현재 1 번
현재 2 번
현재 3 번

## for-loop, while 비교
- Only 데이터분석 : for-loop만 집중 공부
 + 행과 열은 거의 고정
 + 범위가 주어져 있음
- 개발자 : for-loop, while 둘다 제대로 공부
 + 예) 카메라가 켜진 상태에서 필터 추가 -> 카메라 is ON (==True) + 기능 수행

 ## break문
 - 중간에 반복문 강제 종료
  + 특정 시점에 반복 종료

In [ ]:
#초기값 지정
i = 1

while True :
  print(f'현재 {i} 번')
  if i >= 5:
    break
  i += 1

현재 1 번
현재 2 번
현재 3 번
현재 4 번
현재 5 번

In [ ]:
for i in range(10):
  print(f'현재 {i} 번')
  if i > 5:
    break

현재 0 번
현재 1 번
현재 2 번
현재 3 번
현재 4 번
현재 5 번
현재 6 번

## 문자열과 for-loop

In [ ]:
texts = 'Python'
for text in texts:
  print(text)
  if text =='t':
    print("text는 t입니다.")
    break

P
y
t
text는 t입니다.

## 리스트 컴프리헨션(List Comprension)
- for-loop 및 for loop if 조건문 한줄로 처리

In [ ]:
#pythonic 코드라고 지칭한다...
numbers = [1, 2, 3, 4, 5]
result = []

for i in numbers:
  result.append(i**2)
print(result)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5]
result2= [i**2 for i in numbers if i%2==0]
print(result2)

[4, 16]

In [ ]:
numbers = [1, 2, 3, 4, 5]
result2= [i**2 if i%2==0 else i for i in numbers]
print(result2)

[1, 4, 3, 16, 5]

- 시각화 라이브러리
 + matplotlib,plotly 옵션 설정 할때, 자주 사용

# 파이썬 문서화 (Docstring)
- 코딩을 한다, 프로그래밍을 한다. ->누군가에게 관련 지식을 전달하는 것과 동일
 + 혼자 코딩, 혼자만 알 수 있는 언어로 코딩 -> 현업 불가능

- 프로젝트 진행
 + 3주 / 4주 => 마지막주에는
   - 2~3명, PPT 보고서 작성
   - 남은 인원, Docstring을 사용해서, 문서화
 + help() 명령어를 사용해서 불러오기 할 수 있음 (예. read_csv() 문서처럼 출력가능)

In [ ]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
def myPower(n):
  '''숫자 n을 입력하면 n의 거듭제곱으로 반환'''
  result = n**2
  return result
print(myPower(6))

36

In [ ]:
print(myPower.__doc__)

숫자 n을 입력하면 n의 거듭제곱으로 반환

In [ ]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
def read_csv(sep,header):
  '''
  Returns the sum of...
    Parameters:
      sep(str) : Character or regex pattern to treat as the delimiter.
      header(int) : Row number(s) containing column labels and marking the start of the data (zero-indexed).
    Returns :
      c (int) : Sum of...
  '''
  c = sep + header
  return c

In [ ]:
print(read_csv.__doc__)

  Returns the sum of...
    Parameters:
      sep(str) : Character or regex pattern to treat as the delimiter.
      header(int) : Row number(s) containing column labels and marking the start of the data (zero-indexed).
    Returns :
      c (int) : Sum of...

In [ ]:
print(read_csv(3,5))

8

- swagger 같은 API 명세서가 Docstring일까요?
 + 개념이 다름
 + 클라이언트 용 명세서(공공기관: 한글 또는 워드 작업)

# 클래스 상속
- 부모 > 자식
- 대분류 > 중분류 > 소분류
- 동물
 + 동물의 공통적인 특징 : 살아 움직임
   - 포유류
     + (살아 움직임) 네발, 새끼를 낳는다.
   - 파충류
     + (살아 움직임) 알을 낳는다.

In [ ]:
class Animal:
  # Attribute 정의(=클래스 변수)
  name = ""
  # 공통 함수
  def eat(self):
    print("나는 먹을 수 있음")
class Dog(Animal): #클래스 상속을 했다. 동물-> 강아지로 기본 기능을 제공함
  #name = "" #이 코드는 불필요함
  #새로운 메서드
  def dance(self):
    print(f"{self.name} 강아지가 춤을 춘다")
#클래스 만들었으면 객체 생성해야지

a = Dog()
a.name = "코코"
a.eat() #Dog 클래스는 Animal클래스를 상속받았기 때문에 Animal클래스의 eat함수 사용가능

나는 먹을 수 있음

In [ ]:
a.dance()

코코 강아지가 춤을 춘다

In [ ]:
b = Animal()
b.name = "시고르자브종"
b.eat()

나는 먹을 수 있음

In [ ]:
b.dance() #Animal클래스에는 dance함수가 없기때문에 사용불가

AttributeError: ignored

## 클래스 Docstring

In [ ]:
class Person:
  """
  자기소개하는 Person 클래스.
  '''
  Attributes
  -----------
  name : str
    사람의 이름을 의미
  age : int
    사람의 나이를 의미
  grade : int
    사람의 현재 학년을 의미

  Methods
  ------------
  info(comment="") :
    자기소개 문장 출력
  '''
  """
  def __init__(self, name, age, grade):
    """
    name : str
      사람의 이름을 의미
    age : int
      사람의 나이를 의미
    grade : int
      사람의 현재 학년을 의미

    """
    self.name = name
    self.age = age
    self.grade = grade

  def info(self, comment = ""):
    """
    comment :
      하고 싶은말

    """
    print(f'내 이름은 {self.name}, 내 나이는 {self.age}, 현재 학년은 {self.grade}입니다. {comment}')

In [ ]:
my = Person('이수민','8살','1학년')
my.info("만나서 반갑습니다.")

내 이름은 이수민, 내 나이는 8살, 현재 학년은 1학년입니다. 만나서 반갑습니다.

In [ ]:
print(Person.__doc__)
print('-----------------띄우고------------------')
print(info.__doc__)

  자기소개하는 Person 클래스.
  '''
  Attributes
  -----------
  name : str
    사람의 이름을 의미
  age : int
    사람의 나이를 의미
  grade : int
    사람의 현재 학년을 의미

  Methods
  ------------
  info(comment="") :
    자기소개 문장 출력
  '''

-----------------띄우고------------------

NameError: ignored

In [ ]:
help(Person)

Help on class Person in module __main__:

class Person(builtins.object)
 |  Person(name, age, grade)
 |
 |  자기소개하는 Person 클래스.
 |  '''
 |  Attributes
 |  -----------
 |  name : str
 |    사람의 이름을 의미
 |  age : int
 |    사람의 나이를 의미
 |  grade : int
 |    사람의 현재 학년을 의미
 |
 |  Methods
 |  ------------
 |  info(comment="") :
 |    자기소개 문장 출력
 |  '''
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age, grade)
 |      name : str
 |        사람의 이름을 의미
 |      age : int
 |        사람의 나이를 의미
 |      grade : int
 |        사람의 현재 학년을 의미
 |
 |  info(self, comment='')
 |      comment :
 |        하고 싶은말
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)