<a href="https://colab.research.google.com/github/SSUMINIs/mulcam34/blob/main/%ED%86%B5%EA%B3%84%EB%B6%84%EC%84%9D_240111.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#통계검정(p.294)

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats
import scipy

# 표본 14개 정규성 검정 하고,
# 일표본 t검정
# 귀무가설 : 모집단의 평균(130)과 표본 평균(128.451)과 같다.
# 대립가설 : 모집단의 평균(130)과 표본 평균(128.451)과 같지 않다. (양측검정시)
# 대립가설 : 모집단의 평균(130)> 표본 평균(128.451)보다 크다. (단측검정시)

%precision 3
np.random.seed(1111)

print(scipy.__version__)

1.11.4

In [ ]:
df = pd.read_csv('data/ch11_potato.csv')
sample = np.array(df['무게'])
sample

array([122.02, 131.73, 130.6 , 131.82, 132.05, 126.12, 124.43, 132.89,
       122.79, 129.95, 126.14, 134.45, 127.64, 125.68])

In [ ]:
s_mean = np.mean(sample)
s_mean

128.451

In [ ]:
# (14개의) 표본평균이 모평균 130g보다 적은지 여부
# 감자튀김의 표본집단이 정규분포를 따르고 있다 ==> 정규성 검정을 할 필요가 없다.
    # 비모수 검정을 쓸 필요 없이, 모수 검정을 하면 된다.
# 모분산이 9임을 알고 있다고 전제.

In [ ]:
rv = stats.norm(130, np.sqrt(9/14))
rv.isf(0.95)

128.681

In [ ]:
rv = stats.norm(130, np.sqrt(9/14)) #9 모분산, 14 표본의 개수
rv.isf(0.95) # 95%신뢰구간

128.681

In [ ]:
#검정통계량
#모평균 130
z = (s_mean-130)/np.sqrt(9/14)
z

-1.932

In [ ]:
# 검정 통계량에 관한 임계값을 구하기
rv = stats.norm()
rv.isf(0.95)

-1.645

In [ ]:
rv.cdf(z) #유의수준 0.05 보다 작음
# 귀무가설 : 모평균 130g과 표본평균 128.451g과 같다.
# 대립가설 : 모평균 130g과 표본평균 128.451g과 같지 않다.
# => 귀무가설 기각, 대립가설 채택 (대립가설 채택한다는 말은 통계에 존재 X)
# 귀무가설 채택 OR 귀무가설 기각으로 표현한다.

0.027

In [ ]:
# 양측검정
z = (s_mean-130)/np.sqrt(9/14)
rv = stats.norm()
rv.interval(0.95)

(-1.960, 1.960)

In [ ]:
rv.cdf(z) # p-value값

0.027

In [ ]:
# 가설 검정의 두가지 오류
- 제 1종 오류 : 귀무가설이 옳을 때 귀무가설을 기각하는 오류
- 제 2종 오류 : 대립가설이 옳을 때 귀무가설을 채택하는 오류

In [ ]:
# 제 1종 오류
- 실제로 평균이 130g인데도 불구하고 평균은 130g보다 작다고 결론을 내리는 상황
    + False Positive(오탐)

In [ ]:
rv = stats.norm(130,3)
c = stats.norm().isf(0.95)
n_samples = 10000
cnt = 0
for _ in range(n_samples):
    sample_ = np.round(rv.rvs(14), 2)
    s_mean_ = np.mean(sample_)
    z = (s_mean_ - 130) / np.sqrt(9/14)
    if z < c:
        cnt += 1
cnt / n_samples

0.052

In [ ]:
- 1종 오류를 범할 비율은 0.053 / 약 5%의 비율로 130g 보다 작다고 잘못 탐지하는 것과 같다
- 1종 오류를 범할 확룰을 위험률
- 좀 더 엄격하게 적용하고 싶다고 하면 유의수준 1%에서 가설검정을 수행

In [ ]:
# 제 2종 오류
- 실제로 표본의 평균이 130g보다 작음에도 불구하고 표본 평균은 130g보다 작다는 결론을 얻을 수 없는 상황
    + 본래 검출해야 하는 것을 검출하지 못했으므로 False Nagative(미탐)

In [ ]:
rv = stats.norm(128,3)
c = stats.norm().isf(0.95)
n_samples = 10000
cnt = 0
for _ in range(n_samples):
    sample_ = np.round(rv.rvs(14), 2)
    s_mean_ = np.mean(sample_)
    z = (s_mean_ - 130) / np.sqrt(9/14)
    if z >= c:
        cnt += 1
cnt / n_samples

0.196

In [ ]:
- 0.196의 의미는 검정력/ 제대로 탐지하지 못할 확률이 20% 되더라!
- 제 2종 오류는 언제나 모집단의 정보에 의존한다
    + 중요한 포인트는 분석가는 모집단의 구체적인 정보를 알 방법이 없다.
    + 따라서 모집단에 의존하는 제 2종 오류는 컨트롤 할 수 없으니, 1종 오류를 줄이는 방향으로 관리

In [ ]:
# 모분산을 안다!
- 현실적으로 모집단을 아는 것은 불가능
    + 건강보험관련 통계/전국민 데이터가 있는 자료(국가자료)
- 모분산을 알고 있다는 뜻은 모집단을 알고 있다 => 모평균도 구할 수 있음 => 모평균에 대한 검정을 굳이 할 필요가 있나?

In [ ]:
def pmean_test(sample, mean0, alpha=0.05):
    '''
    sample : 표본 샘플 데이터
    mean0 : 모평균을 제안( 감자칩의 무게와 같이 이미 기 제안이 된 것)
    alpha : 신뢰구간 95% 수준의 신뢰구간
    '''
    s_mean = np.mean(sample)
    u_var = np.var(sample, ddof=1)
    n = len(sample)
    rv = stats.t(df=n-1)
    interval = rv.interval(1-alpha)

    t = (s_mean - mean0) / np.sqrt(u_var/n)
    print(f't통계량 값은 {t:.3f}')
    if interval[0] <= t <= interval[1]:
        print('귀무가설을 채택')
    else:
        print('귀무가설을 기각')

    if t < 0:
        p = rv.cdf(t) * 2
    else:
        p = (1 - rv.cdf(t)) * 2
    print(f'p값은 {p:.3f}')

In [ ]:
pmean_test(sample, 130)

t통계량 값은 -1.455
귀무가설을 채택
p값은 0.169

In [ ]:
t, p = stats.ttest_1samp(sample,130)
t, p

(-1.455, 0.169)

In [ ]:
### z 통계량 / t 통계량
- 모집단, 모평균, 모분산 다 알고 있다 z-검정 : z-통계량
- 표본을 추출한다. 표본 평균, 표본 분산을 알고 있다. t-검정 : t 통계량

In [ ]:
## 2표본 문제에 관한 가설 검정
- 대응표본 : 정규분포를 가정할 수 있음
    + 정규성 검정 통과 : 대응표본 t-검정
    + 정규성 검정 통과 실패 : 비모수 검정, 윌콕슨의 부호순위검정
- 독립표본 : 정규분포를 가정할 수 있음
    + 정규성 검정 통과 : 독립비교 t검정
    + 정규성 검정 통과 실패 : 맨-위트니의 U검정

In [ ]:
## 대응표본 t검정
- A 학생, 친구 20명에게 1주일간 근력운동 하게 함(Intervention, 개입)
- 운동 전 후에 집중력을 측정하는 테스트 받게 됨
- 가설검정
    + 귀무가설: 1주일 전과 1주일 후의 집중력 테스트 평균값의 차이가 없다
    + 대립가설: 1주일 전과 1주일 후의 집중력 테스트 평균값의 차이가 있다

In [ ]:
import pandas as pd
training_rel = pd.read_csv('data/ch11_training_rel.csv')
training_rel['차이'] = training_rel['후'] - training_rel['전']
training_rel.head()

    전   후  차이
0  59  41 -18
1  52  63  11
2  55  68  13
3  61  59  -2
4  59  84  25

In [ ]:
t, p = stats.ttest_1samp(training_rel['차이'],0)
t, p

(2.204, 0.040)

In [ ]:
t, p = stats.ttest_rel(training_rel['후'],training_rel['전'])
t, p

(2.204, 0.040)

In [ ]:
## 보고서 작성
- t-통계량 / p-value값
- 전, 후 시각화 코드 , 전 평균값, 후 평균값

In [ ]:
##독립 비교 t-검정
A 그룹, B 그룹 사이에 집중력 테스트의 평균에서 차이가 나지 않을까 생각하여 테스트를 함
- 이 데이터로부터 어떤 검정을 수행해야 A 학생과 B 학생 학급의 집중력에 유의한 차이가 있는지 확인
- 가설설정
  + 귀무가설 : A그룹, B그룹의 집중력 테스트 평균값의 차이가 없다.
  + 대립가설 : A그룹, B그룹의 집중력 테스트 평균값의 차이가 있다.
- 독립비교 t-검정 두가지 가정
    + 1) 각 그룹 데이터의 정규성을 검정
    + 2) 두 그룹의 분산이 같다 (= 등분산성 검정), levene 검정 시행

In [ ]:
training_ind = pd.read_csv('data/ch11_training_ind.csv')
training_ind.head()

    A   B
0  47  49
1  50  52
2  37  54
3  60  48
4  39  51

In [ ]:
# levene 검정 이후, 등분산성이 다르더라
t, p =stats.ttest_ind(training_ind['A'],training_ind['B'],equal_var=False)
# equal_var = False 로 설정해주면 =>웰치의 방법으로 계산됨.
# 즉, 분산이 다르더라도 t검정 사용가능
t, p
# 결론_두 그룹의 평균 차이는 없다, 귀무가설 채택

(-1.761, 0.087)

In [ ]:
### 비모수 검정
- 모수 검정에서 각 가정을 만족시키지 못할 때, 비모수검정을 쓰더라.

In [ ]:
## 윌콕슨의 부호순위검정
- 대응표본에서 차이에 정규분포를 만족시키지 못할 때
    + 평균차이(X), 중앙값 차이에 대한 검정(O)
    + 중앙값, 50%에 해당하는 값

In [ ]:
training_rel = pd.read_csv('data/ch11_training_rel.csv')
toy_df = training_rel[:6].copy()
toy_df['차'] = toy_df['후']-toy_df['전']
toy_df

    전   후   차
0  59  41 -18
1  52  63  11
2  55  68  13
3  61  59  -2
4  59  84  25
5  45  37  -8

In [ ]:
t, p = stats.wilcoxon(toy_df['후'],toy_df['전'])
t, p

(8.000, 0.688)

In [ ]:
# 순위 적용
diff = toy_df['후']-toy_df['전']
rank = stats.rankdata(abs(diff)).astype(int)
toy_df['순위'] = rank
toy_df

    전   후  차  순위
0  59  60  1   1
1  52  50 -2   2
2  55  52 -3   3
3  61  65  4   4
4  59  64  5   5
5  45  39 -6   6

In [ ]:
r_minus = np.sum((diff < 0) * rank)
r_plus = np.sum((diff > 0) * rank)

r_minus, r_plus #검정통계량 8

(11, 10)

In [ ]:
toy_df['후'] = toy_df['전'] + np.arange(1, 7)
diff = toy_df['후'] - toy_df['전']
rank = stats.rankdata(abs(diff)).astype(int)
toy_df['차'] = diff
toy_df['순위'] = rank
display(toy_df)

r_minus = np.sum((diff < 0) * rank)
r_plus = np.sum((diff > 0) * rank)

r_minus, r_plus

    전   후  차  순위
0  59  60  1   1
1  52  54  2   2
2  55  58  3   3
3  61  65  4   4
4  59  64  5   5
5  45  51  6   6

(0, 21)

In [ ]:
toy_df['후'] = toy_df['전'] + [1, -2, -3, 4, 5, -6]
diff = toy_df['후'] - toy_df['전']
rank = stats.rankdata(abs(diff)).astype(int)
toy_df['차'] = diff
toy_df['순위'] = rank
toy_df

    전   후  차  순위
0  59  60  1   1
1  52  50 -2   2
2  55  52 -3   3
3  61  65  4   4
4  59  64  5   5
5  45  39 -6   6

In [ ]:
r_minus = np.sum((diff < 0) * rank)
r_plus = np.sum((diff > 0) * rank)

r_minus, r_plus #검정통계량 10

(11, 10)

In [ ]:
t, p = stats.wilcoxon(toy_df['후'],toy_df['전'])
t, p

(10.000, 1.000)